.modal button {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    opacity: 100%;
    cursor: pointer;
  }
 .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  .modal-container .modal {
 
    width: 440px;
    height: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background: white;
    border-radius: 5px;
    position: absolute;
    animation: animate 0.3s;
  }
  .modal-header-wrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 15px;
  }

  .modal-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;    
      padding: 25px;
  }

  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  .modal p {
    font-family: "Lato";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    color: #001122;
    opacity: 80%;
  }

 .description h1 {
  padding-left: 25px;
  padding-right: 25px;
  opacity: 80%;
  }

  .description .paragraph {
    padding-left: 25px;
    padding-right: 25px;
    opacity: 80%;
    font-weight: 400;
  }

  img {
    opacity: 30%;
  }

  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

 