* {
  box-sizing: border-box;
  top: 0;
}

.App {
  border-bottom: 1px solid #dfdacd;
}

.card-component {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10px;
  margin-left: 2%;
}
